@font-face {
  font-family: roboto-regular;
  src: url('../fontes/Roboto-Regular.ttf');
}

@font-face {
  font-family: roboto-mono-bold;
  src: url('../fontes/RobotoMono-Bold.ttf');
}

@font-face {
  font-family: roboto-mono-medium;
  src: url('../fontes/RobotoMono-Medium.ttf');
}

@font-face {
  font-family: roboto-mono-regular;
  src: url('../fontes/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: roboto-mono-light;
  src: url('../fontes/RobotoMono-Light.ttf');
}

@font-face {
  font-family: roboto-mono-italic;
  src: url('../fontes/RobotoMono-Italic.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto-regular;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  color: #202020;
  overflow-x: hidden;
}

.section-title {
  font-family: roboto-mono-bold;
  font-size: 3rem;
  line-height: 3.25rem;
}

.section-subtitle {
  font-family: roboto-mono-light;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.section-title.blue,
.section-subtitle.blue {
  color: #1e4798;
}

.section-title.orange,
.section-subtitle.orange {
  color: #e34511;
}

.section-title.pink,
.section-subtitle.pink {
  color: #e61854;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 35%;
  top: 20%;
  width: 400px;
  padding-top: 100px; /* Location of the box */
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #f2f2f2;
  border: 2px solid #1e4798;
  border-radius: 7px;
  padding: 20px;
}

.warning {
  display: flex;
  gap: 20px;
}

.modal-content .title {
  font-family: roboto-regular;
  font-size: 19px;
  color: #1e4798;
}

.modal-content p {
  font-family: roboto-light;
  font-size: 17px;
  color: #202020;
}

.modal-content .options {
  display: flex;
  gap: 30px;
  margin-left: 55px;
}

.modal-content .option {
  display: block;
  font-family: roboto-mono-regular;
  font-size: 14px;
  text-transform: uppercase;
  width: fit-content;
  border: 1.5px solid #1e4798;
  padding: 5px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: #1e4798;
  transition: background 0.3s;
}

.modal-content .option:hover {
  color: #f2f2f2;
  background: #1e4798;
}
